## All of env together for now

## Apache Airflow
apache-airflow==3.0.4

## Dagster
dagster>=1.10.0
dagster-dbt>=0.27.0
dagster-duckdb>=0.27.0
dagster-webserver>=1.10.0
pandas >=2.3.0

## dbt
dbt-core==1.9.4
dbt-duckdb==1.9.4

pip-tools>=7.5.0
